.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: 2em; /* Set a larger font size for the heading */
  margin: 0; /* Remove default margin for heading */
}

p {
  font-size: 16px; /* Set a comfortable font size for the message */
  line-height: 1.5; /* Increase line spacing for better readability */
  margin: 20px 0; /* Add some margin above and below the paragraph */
  text-align: center; /* Center align the recycling message text */
}

.buttons {
  display: flex; /* Arrange buttons horizontally */
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Add some spacing between buttons */
}

.button {
  background-color: #4CAF50; /* Green color for buttons */
  color: white; /* White text for buttons */
  padding: 10px 20px; /* Add some padding inside buttons */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Add rounded corners for a modern look */
  cursor: pointer; /* Make it clear it's a clickable button */
  transition: background-color 0.2s ease-in-out; /* Add a smooth hover effect */
}

.button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.thumbnail-button {
  color: white; 
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-image: url("../public/whyproject2.jpg"); /* Set image as background */
  background-size: cover; /* Cover the entire button area */
  background-position: center; /* Center the image within the button */
  cursor: pointer;
  overflow: hidden;
}

.thumbnail-button img {
  width: 50px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  margin-right: 10px; /* Add margin between image and text */
}

.thumbnail-button span {
  font-weight: bold; /* Make text bold */
}
