/* General styles */
/* Centering the profile-page content horizontally */
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Optional: Set minimum height for full viewport */
  background-color: #18c329; /* Optional: Set background color */
  background-image: url(/back1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  filter: 'brightness(0.2) contrast(1.1)',
}
/* Centering the profile content within profile-page */
.profile-content {
  text-align: center;
  align-items: center;
  padding: 20px; /* Optional: Add some padding */
  border: 1px solid #ddd; /* Optional: Add a border */
  border-radius: 5px; /* Optional: Add rounded corners */
  background-color: #18c329; /* Optional: Set background color */
}

  
  
  /* Form styles */
  
  
  .input-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .input-container label {
    width: 120px;
    margin-right: 10px;
    color: #333;
  }
  
  .input-container input,
  .input-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.input-container select {
  appearance: none; /* Remove default select styles */
  background-image: url("data:image/svg+xml;base64,phN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjYiIHZpZXdCbG9jay0="); /* Down arrow for select */
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px; /* Adjust padding for select arrow */
  cursor: pointer;
}

.input-container select:focus {
  border: 1px solid #008000; /* Green border on focus for select */
}

button[type="submit"] {
  background-color: #008000; /* Dark green for submit button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: #006000; /* Darker green on hover for submit button */
}

.error {
  color: rgb(194, 243, 145);
  margin-top: 10px;
}
